/* Style MHC */
.anchor-time {
  color: #adb2bb;
  font-size: 1.2rem;
}
.anchor-username h4 {
  font-size: 12px;
  color: rgb(71, 100, 159);
  margin: 0;
  font-weight: normal;
}

.empty-content {
  height: 100vh;
}

.empty-content .empty {
  text-align: center;
  padding: 20px 0;
}

.img-video {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.media-body .anchor-username h4 {
  font-size: 20px !important;
  padding: 10px 0 20px;
}

.media-body .anchor-username:hover {
  text-decoration: none;
}
