/* Style MHC */

td.description {
  max-width: 400px;
}

body {
  font-size: 0.8rem !important;
}

.mhc-video-container .mhc-action {
  padding: 10px 0 0;
  margin: 0;
}

.mhc-video-container .mhc-action .fa {
  padding-right: 5px;
}

.mhc-video-container .tags {
  padding: 10px 0;
}

#modal-alert .modal-card-title {
  max-width: calc(100% - 20px);
}

#modal-view .modal-card-foot .fa,
#modal-alert .modal-card-foot .fa {
  padding-right: 5px;
}

.pagination-previous .fa {
  padding-right: 8px !important;
}

.pagination-next .fa {
  padding-left: 8px !important;
}

.mhc-status {
  padding-top: 10px;
}

.mhc-status.active .button:nth-child(1) {
  display: block;
}

.mhc-status.active .button:nth-child(2) {
  display: none;
}

.mhc-status.deactivate .button:nth-child(1) {
  display: "none";
}

.mhc-status.deactivate .button:nth-child(2) {
  display: block;
}

.mhc-status .button {
  display: none;
}

.mhc-video-container .table thead th,
.mhc-video-container .table tfoot th {
  padding: 10px;
}

.mhc-video-container .table th abbr {
  color: #ffff;
}

.mhc-video-container .container {
  max-width: 100%;
  width: 100%;
}

#modal-view .modal-card {
  width: 800px;
}

#modal-view .modal-card .item {
  padding-bottom: 15px;
}

.checkStatus {
  padding-bottom: 8px;
}

td.action-btn {
  width: 200px;
}

.alert-filter .select,
.alert-filter .select select,
.settlement-filter .select,
.settlement-filter .select select,
.company-filter .select select,
.company-filter .select,
.status-filter .select,
.status-filter .select select,
.type-filter .select,
.type-filter .select select {
  width: 100%;
}

.alert-btn.alert {
  cursor: not-allowed;
}

.settlement {
  padding-bottom: 10px;
}

.description {
  width: 350px;
}

.tags {
  width: 230px;
}

.hide {
  display: none;
}

td.center {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.is-loading {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.is-loading:after {
  content: "";
  display: block;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.bkg-loader {
  display: none;
}

.keyword button {
  margin-top: 10px;
}

.is-loading .bkg-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00d1b2;
  border-bottom: 16px solid #00d1b2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#content-load {
  padding-top: 20px;
}

.mhc-filter .columns {
  margin-bottom: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
